---
title: GitLab First Look
description: First Look was a UX research participant recruitment panel, which has since been retired.
canonical_path: "/community/gitlab-first-look/"
suppress_header: true
twitter_image: '/images/tweets/gitlab-first-look-twitter-card.png'
extra_css:
  - first-look.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/first-look/first-look-header.svg", class: "hero-image-large", alt: "Gitlab first look header logo svg"
    %h1 GitLab First Look
    %p After many successful years of providing UX research opportunities with our GitLab customers, the GitLab First Look UX Research program has been retired. We want to thank our First Look members for being a core part of our UX Research practice and for providing valuable feedback to our Product and Engineering teams. 

    
